div.col-12, h3 {
    color: #003976 !important;
    font-size: 1.2em !important;
    padding-top: 0.5em;
}

.header {
    text-align: center;
}

.bottom {
    background-color: rgb(250, 255, 305);
    border-bottom: 2px solid blue;
    padding-bottom: 0.5em;
}

body {
    background-image: url(../../TriviaGame/assets/images/light_grey.png)
}

div.gif {
    width: 33%;
    margin-bottom: 1.5em;
    border: 1px solid #003976;
    /* display: block; */
    /* display: block !important; */
    /* height: 20vmax; */
    /* font-size: 0 !important;  */
}

img {
    width: 100%;
    vertical-align: top !important;
}

h2 {
    background-color: #003976;
    margin-bottom: 0px !important;
    /* color: rgb(232, 232, 232); */
    color: rgb(232, 232, 232) !important;
    
}


#click-prompt {
    margin-bottom: 1em 1em;
}


@media only screen and (max-width: 1300px) {
    div.gif {
        width: 49%;
    }
}

@media only screen and (max-width: 600px) {
    div.gif {
        width: 99%;
    }
}