div.col-12 {
    color: #007bff;
    
    font-size: 1.2em;
}

div.gif {
    width: 33%;
    margin-bottom: 1.5em;
}

img {
    width: 100%;
}

h2 {
    background-color: rgb(232, 232, 232);
    margin-bottom: 0px !important;
}

@media only screen and (max-width: 960px) {
    div.gif {
        width: 49%;
    }
}