div.col-12, h3 {
    color: #003976 !important;
    font-size: 1.2em !important;
    padding-top: 0.5em;
}

.bottom {
    background-color: rgb(250, 255, 305);
    border-bottom: 2px solid blue;
    padding-bottom: 0.5em;
}

body {
    background-image: url(../../TriviaGame/assets/images/light_grey.png)
}

div.gif {
    width: 33%;
    margin-bottom: 1.5em;
}

img {
    width: 100%;
}

h2 {
    background-color: rgb(232, 232, 232);
    margin-bottom: 0px !important;
    color: #003976;
}


#click-prompt {
    margin-bottom: 1em 1em;
}


@media only screen and (max-width: 960px) {
    div.gif {
        width: 49%;
    }
}

@media only screen and (max-width: 450px) {
    div.gif {
        width: 99%;
    }
}